:root {
  background: url("../public/github.png") top center no-repeat fixed;
}
#root {
  width: 1024px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App {
  text-align: center;
  width: 70%;
  height: 100%;
}
.search-heading {
  color: white;
}
